<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Dashboard</h1>

  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clients</h5>
          <h1
            class="card-title text-center bg-info text-white p-4"
          >{{countClients}}</h1>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <h1
            class="card-title text-center bg-success text-white p-4"
          >{{countUsers}}</h1>
        </div>
      </div>
    </div>
  </div>

</main>